<% content_for :title, "Editing henreki" %>

<h1>Editing henreki</h1>

<%= render "form", henreki: @henreki %>

<br>

<div>
  <%= link_to "Show this henreki", @henreki %> |
  <%= link_to "Back to henrekis", henrekis_path %>
</div>
